<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="yandex-verification" content="3225d9f55371d234" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    {% seo %}
</head>
<body>
    <header>
        <div class="header-mobile">
            <div class="logo">
                <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="OS Engine Logo">
                <h1>{{ site.title }}</h1>
            </div>
        </div>

        <nav>
            <ul class="nav-menu">
                <li><a href="/">Main</a></li>
                <li><a href="/faq/">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

</html>
